li {/*Aqui damos formato al menu*/
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border: 10px;
    border: 3px solid;
    border-color: black;
    border-radius: 30px; 
    background: linear-gradient(rgb(244, 241, 241),green);
}
        
ul {/*Damos estilos al menu*/
    text-align: center;
    margin-top: 44px;
    margin-bottom: 50px;
    
}

a {/
    text-decoration: none;
}

a:hover {/* Aqui damos estilo a los enlaces*/
    font-weight: bold;
    color: whitesmoke;
}
    
#fototoretto {/* Damos estilos a las fotos*/
    width: 230px;
    height: 400px;
    position: relative;
    padding-top: 10px;
}

#fotobamba{/* Damos estilos a las fotos*/
    width: 230px;
    height: 400px;
    position: relative;
}

#fotomorfeo {/* Damos estilos a las fotos*/
    width: 230px;
    height: 400px;
    position: relative;
}

#fotojazmin {/* Damos estilos a las fotos*/
    width: 230px;
    height: 400px;
    position: relative;
}

#fotoeros {/* Damos estilos a las fotos*/
    width: 230px;
    height: 400px;
    position: relative;
}
    
.litio {/* El color del menu cuando estemos en dicha pestaña*/
    background: rgb(126, 156, 238);
}
    
#cuerpo {/* Damos formaro al cuerpo*/
    height: 500px;
    width: 1000px;
    padding-left: 10%;  
}
    
#texto1{/* Damos formato a los 3 textos de la pagina de  INICIO*/
    font-style: oblique;
    font-size:2.5ch;
    height:280px ;
    width: 300px;
    background-color: rgba(192, 222, 194, 0.875);
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10%;
}

#texto2{/* Damos formato a los 3 textos de la pagina de  INICIO*/
    font-style: oblique;
    font-size:2.5ch;
    height:280px ;
    width: 300px;
    background-color: rgba(192, 222, 194, 0.875);
    float: inline-start;
    margin-top: 10%;
}

#texto3{/* Damos formato a los 3 textos de la pagina de  INICIO*/
    font-style: oblique;
    font-size:2.5ch;
    height:280px ;
    width: 300px;
    background-color: rgba(192, 222, 194, 0.875);
    float: inline-start;
    margin-left: 20px;
    margin-top: 10%; 
}
    
.letraspie{/* Damos formato a las letras del aviso legas*/
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    
}

    
#logotipo{/*Damos formato al texto de la cabecera*/
    letter-spacing: 2px;
    font-family:fantasy;
    color: white;
    font-size: 300%
    
}

.menuformato{/*Cambia de color en la pestaña que estamos y diferenciarla*/
    font-family: Tahoma, sans-serif;
} 
    
header {/* Ponemos imagenes de fondo del header, main y el pie de pagina */
    background-image: url(../images/casa.jpeg);
    padding-bottom: 40px;
    padding-top: 40px;
    opacity: 80%;
}

main {/*Ponemos imagen de fondo del cuerpo de la pagina*/
    background-image:url(../images/casa1.jpgx);    
}

.pie{/*Damos formato al pie de la pagina*/
    height: 200px;
    width: 100%;
    background-image: url(../images/casa.jpeg);
    opacity: 80%;
}
 
#insta{/* Damos formato a los enlaces de redes sociales*/
    width: 50px;
    height: 50px;
}

#imagenface{/* Damos formato a los enlaces de redes sociales*/
    width: 50px;
    height: 50px;
}
    
#ubicacion{/* Damos formato a las letras de la ubicacion*/
    border: 1px solid;
    background-color: aliceblue;
    width: 300px;
    padding-left: 3px;
    float: inline-end;
}


p{/* Damos formato a las letras de la direccion*/
    color: brown; 
}

label {/* Damos formato a las letras de la direccion*/
    color: rgb(2, 2, 2);
}

p.enlaceaviso{/*Damos formato al enlace que nos redirige a la pagina de "avisos legales"*/
    color: blanchedalmond;
}
     
        
form{/* Configuramos el formulario*/
    border: 1px solid;
    width: 300px;
    background-color: aliceblue;
    padding-left: 30px;
    margin-left: 35%;
    margin-right: 35%;
}
