<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Santuario Ambrosía</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <ul>
                <p id="logotipo">Santuario Ambrosía</p>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Fotos Santuario</a></li>
                <li class="litio"><a class="menuformato" href="contacto.html">Contacto</a></li>
                <li><a href="ubicacion.html">Ubicacion</a></li>
            </ul>

        </header>
        <main>
            <form>
                <p>Nombre</p><input type="text" name="nombre" id="nombre">
                <p>Teléfono</p><input type="number" name="telefono" id="telefono">
                <p>Email</p><input type="email" name="email" id="email">
                <p>Contraseña</p><input type="password" name="password" id="password" pattern="">
                <p>¿Has adoptado antes?</p>
                <input type="radio" name="escoger">si
                <input type="radio" name="escoger">no<br>
                <p><textarea cols="20" rows="10" placeholder="Cuentanos de ti"></textarea></p>
                <p>Aceptar política de privacidad<input type="checkbox"></p>
                
                <input type="submit">   
                <input type="reset">
            </form>
            
        </main>
        <footer> 
            <div class="pie">
                <a href="https://www.instagram.com"><img src="../images/insta.webp" id="insta"></a>
                <a href="https://www.facebook.com"><img src="../images/imagenface.jpg" id="imagenface"></a>
                <p class="letraspie">Direccion: Cesar Gomez de Lucia 3 2C</p>
                <p class="enlaceaviso"><a href="www.avisolegal.com">Aviso legal</a></p>
            </div>
    </footer>
        
    </body>
</html>