<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Santuario Ambrosía</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <ul>
                <p id="logotipo">Santuario Ambrosía</p>
                <li><a href="../index.html">Inicio</a></li>
                <li class="litio"><a class="menuformato" href="productos.html">Fotos Santuario</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="ubicacion.html">Ubicacion</a></li>
            </ul>

        </header>
        <main>
            <img src="../images/toretto.jpeg" alt="imagen de toretto" id="fototoretto" width="1126px" height="2000px">
            <img src="../images/bambanegra.jpeg" alt="imagen de bamba negra" id="fotobamba" width="1080px" height="1920px">
            <img src="../images/morfeo.jpeg" alt="imagen de morfeo" id="fotomorfeo" width="2048px" height="1032px">
            <img src="../images/jazmin.jpeg" alt="imagen de jazmin" id="fotojazmin" width="2048px" height="1510px">
            <img src="../images/erosyyo.jpeg" alt="imagen eros y yo" id="fotoeros" width="1920px" height="1440px">

        </main>
        <footer> 
            <div class="pie">
                <a href="https://www.instagram.com"><img src="../images/insta.webp" id="insta"></a>
                <a href="https://www.facebook.com"><img src="../images/imagenface.jpg" id="imagenface"></a>
                <p class="letraspie">Direccion: Cesar Gomez de Lucia 3 2C</p>
                <p class="enlaceaviso"><a href="www.avisolegal.com">Aviso legal</a></p>
            </div>
        </footer>
        
    </body>
</html>