<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Santuario Ambrosía</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header>
            <ul>
                <p id="logotipo">Santuario Ambrosía</p>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Fotos Santuario</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li class="litio"><a class="menuformato" href="ubicacion.html">Ubicacion</a></li>
            </ul>

        </header>
        <main>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.6401154532223!2d-3.7673906246196482!3d40.65986287140153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd417ddde1852f13%3A0x708c807478052696!2sC.%20de%20C%C3%A9sar%20G%C3%B3mez%20de%20Luc%C3%ADa%2C%203%2C%2028770%20Colmenar%20Viejo%2C%20Madrid!5e0!3m2!1ses!2ses!4v1724013321936!5m2!1ses!2ses" 
            width="600" height="450" style="position:relative" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <div id="ubicacion">
                <p>Calle: <label> Gomez de Lucia 3 </label><p>
                <p>Telefono: <label>000 000</label></p>
                <p>Codigo Postal:<label>28770</label></p>
            </div>
        </main>
        <footer> 
            <div class="pie">
                <a href="https://www.instagram.com"><img src="../images/insta.webp" id="insta"></a>
                <a href="https://www.facebook.com"><img src="../images/imagenface.jpg" id="imagenface"></a>
                <p class="letraspie">Direccion: Cesar Gomez de Lucia 3 2C</p>
                <p class="enlaceaviso"><a href="www.avisolegal.com">Aviso legal</a></p>
            </div>
    </footer>
        
    </body>
</html>